<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
    <script src ="/js/balance.js" defer></script>
  </head>
  <br>
    <h1>Bank</h1>
    <div><input type="button" value = "유저등록" onclick="location.href='/user'"></input></div>
    <br>
    <div><input type="button" value = "입금" onclick="location.href='/deposit'"></input></div>
    <br>
    <div><input type="button" value = "출금" onclick="location.href='/withdraw'"></input></div>
    <br>
    <div><input type="button" value = "송금" onclick="location.href='/send'"></input></div>
    <br>
    <div>
      <h1>
        잔액조회
      </h1>
      <h2></h2>
      <br>
      <input id = "id" style="margin-bottom: 30;" type="text" placeholder="이름을 입력해주세여">
      <br>
      <div>
      <button id = "button">조회</button>
      </div>
    </div>
  </body>
  <script>
  </script>
</html>
